:root {
  --player-class-colour-DeathKnight: #C41F3B;
  --player-class-colour-DemonHunter: #A330C9;
  --player-class-colour-Druid: #FF7D0A;
  --player-class-colour-Evoker: #33937f;
  --player-class-colour-Hunter: #A9D271;
  --player-class-colour-Mage: #40C7EB;
  --player-class-colour-Monk: #00FF96;
  --player-class-colour-Paladin: #F58CBA;
  --player-class-colour-Priest: #FFFFFF;
  --player-class-colour-Rogue: #FFF569;
  --player-class-colour-Shaman: #0070DE;
  --player-class-colour-Warlock: #8787ED;
  --player-class-colour-Warrior: #C79C6E;
  --player-class-colour-Unknown: #FFFFFF;
}